/* // Media Queries
$media-xsmall: 320px;
$media-small: 640px;
$media-medium: 768px;
$media-large: 1024px;
$media-xlarge: 1280px;
$media-xxlarge: 1366px;
$media-xxxlarge: 1920px; */

/* ==========================================================================
   Root styles
   ========================================================================== */
:root {
  font-size: 62.5%;

  --color-primary: #ff6f3d;
  --color-primary-contrast: #404041;
  --color-primary-shade: #f26433;
  --color-primary-tint: #ff7545;

  --color-light-gray: #e7e5e1;
  --color-gray: #6e6e6d;

  --color-red: red;

  --background-color: #fbf9f4;
  --background-color-shade: #f5f3ed;
  --background-color-tint: #404041;

  --text-color: #262626;
  --text-color-contrast: #ffffff;
  --text-color-shade: #000000;
  --text-color-tint: #666666;

  --primary-border-color: #ff6f3d;
  --background-border-color: rgba(64, 64, 65, 10%);

  --heading-1: 3rem;
  --heading-2: 2.5rem;
  --heading-3: 2rem;
  --heading-4: 1.8rem;
  --heading-5: 1.6rem;
  --heading-6: 1.4rem;
  --introductory: 1.8rem;
  --small: 1.3rem;

  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  --container-max-width: 1280px;

  --scrollbar-background-color: rgba(0,0,0,0.125);
  --scrollbar-foreground-color: rgba(0,0,0,0.5);
  --scrollbar-width: .3rem;

  --form-input-background-color: white;
  --form-input-foreground-color: black;

  --form-input-background-color: white;
  --form-input-border-color: grey;
  --form-input-foreground-color: var(--text-color);
  --form-input-focus-color: var(--color-primary);
}

@media only screen and (min-width: 768px) {
  :root {
    --heading-1: 4.5rem;
    --heading-2: 3rem;
    --heading-3: 2.5rem;
    --heading-4: 2rem;
    --heading-5: 1.8rem;
    --heading-6: 1.6rem;
    --introductory: 2rem;
  }
}

@media only screen and (min-width: 1024px) {
  :root {
    --app-bar-height: 10rem;
  }
}

@media only screen and (min-width: 1280px) {
  :root {

  }
}

@media only screen and (min-width: 1920px) {
  :root {
    --container-max-width: 1440px;
  }
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  display: block;
  font-family: sans-serif;
  font-display: swap;
  font-weight: var(--font-weight-normal);
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 32rem;
}

body.is-locked {
  overflow: hidden;
  position: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
quote,
label {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-black);
  line-height: 1.125;
  margin-bottom: 2rem;
}

h1,
.h1 {
  font-size: var(--heading-1);
  text-transform: uppercase;
}

h2,
.h2 {
  font-size: var(--heading-2);
  text-transform: uppercase;
}

h3,
.h3 {
  font-size: var(--heading-3);
  text-transform: uppercase;
}

h4,
.h4 {
  font-size: var(--heading-4);
  text-transform: uppercase;
}

h5,
.h5 {
  font-size: var(--heading-5);
  text-transform: uppercase;
}

h6,
.h6 {
  font-size: var(--heading-6);
  text-transform: uppercase;
}

small,
.small {
  font-size: var(--small);
}

.container {
  margin: 0 auto;
  max-width: var(--container-max-width);
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

/* Lists START */
main ul {
  list-style: none;
  line-height: 1.5;
  margin: 2rem 0;
  padding: 0;
}

main ul li {
  display: block;
  margin: 0;
  padding-left: 25px;
  padding-bottom: 5px;
  position: relative;
}

main ul li:before {
  background-color: currentColor;
  border-radius: 3px;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  position: absolute;
  left: 0;
  top: 9px;
}

main ul ul {
  list-style: none;
  margin: 0;
}

main ol {
  line-height: 1.5;
  margin: 2rem 0;
  padding-left: 1.8rem;
}

main ol li {
  margin: 0 0 0.5rem 0;
}
/* Lists END */

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid currentColor;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/*img*/
img {
  display: block;
  max-width: 100%;
  width: 100%;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */
/*Text START*/
.text {
  display: block;
  margin: 0 auto;
  max-width: 80ch;
  width: 100%;
}

.text * + *:not(li) {
  margin: 2rem 0 0 0;
}
/*Text END*/

/* Buttons START */
.buttons {
  align-items: flex-start;
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  margin: 2rem 0 0 0;
  width: 100%;
}

.button {
    align-items: center;
    background-color: transparent;
    border: 1px solid currentColor;
    border-radius: 2rem;
    color: currentColor;
    cursor: pointer;
    display: inline-flex;
    line-height: 1.125;
    margin: .5rem 0;
    min-height: 4rem;
    padding: 1rem 2rem;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.button:first-child {
  margin-left: 0;
}

.button:last-child {
  margin-right: 0;
}

.button:focus {
  outline: none;
}

@media only screen and (min-width: 768px) {
  .button {
    border-radius: 2.5rem;
    min-height: 5rem;
  }
}

.icon-button {
  align-items: center;
  background-color: transparent;
  border: 1px solid currentColor;
  border-radius: 999px;
  color: currentColor;
  cursor: pointer;
  display: inline-flex;
  line-height: 1.125;
  justify-content: center;
  min-height: 4rem;
  min-width: 4rem;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.icon-button:first-child {
  margin-left: 0;
}

.icon-button:last-child {
  margin-right: 0;
}

.icon-button:focus {
  outline: none;
}

.icon-button svg {
  display: inline-block;
}

@media only screen and (min-width: 768px) {
  .icon-button {
    min-height: 4.8rem;
    min-width: 4.8rem;
  }
}
/* Buttons END */

/* quote START */
.quote {
  margin: 0 auto;
  max-width: 80ch;
  border: 2px  dashed red,
}
/* quote END */

/*Form START (WIP)*/
.form {
  display: block;
  margin: 0 auto;
  max-width: 64ch;
  width: 100%;
}

.text-field-wrapper {
  margin-bottom: 2rem;
}

.text-field {
  position: relative;
}

.text-field__label {
  display: block;
  font-size: 1.3rem;
  line-height: 1.125;
  padding-bottom: .5rem;
}

.text-field__input {
  align-items: center;
  background-color: var(--form-input-background-color);
  border: 1px solid var(--form-input-border-color);
  color: var(--form-input-foreground-color);
  display: flex;
  justify-content: space-between;
  margin: 0;
  min-height: 4rem;
  padding: 1rem 1.6rem;
  width: 100%;
}

.text-field__input:focus,
.text-field__input:active {
  border-color: var(--form-input-focus-color);
  outline: none;
}

.text-field__input:focus {
  border: 2px solid var(--form-input-foreground-color);
}

.text-field__input:not(:placeholder-shown):invalid {
  color: var(--color-red);
}

.text-field__feedback {
  font-size: 1.3rem;
  line-height: 1.125;
  padding-top: .5rem;
}

/*Form END*/

/* .accordion START */
.accordion {
  border-bottom: 1px solid currentColor;
  position: relative;
  z-index: 0;
}

.accordion:last-child {
  border-bottom: none;
}

.accordion__header {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.accordion__icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  will-change: transform;
  transition: transform 150ms ease-in;
}

.accordion__icon svg {
  height: 100%;
  width: 100%;
}

.accordion__content {
  max-height: 0;
  overflow: hidden;
}

.accordion__inner-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.accordion--active .accordion__icon {
  transform: rotate(180deg);
}

.accordion--active .accordion__content {
  max-height: 100rem;
}
/* .accordion END */

/* .media START */

.media {
  display: block;
  width: 100%;
}

.caption {
  font-size: 1.3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.aspect-ratio-box {
  display: block;
  height: 0;
  padding-top: 100%;
  position: relative;
  width: 100%;
  z-index: 0;
}

.aspect-ratio-box > .media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aspect-ratio-box--square { /* (1:1) */
  padding-top: 100%;
}

.aspect-ratio-box--fullscreen { /* (4:3) */
  padding-top: 75%;
}

.aspect-ratio-box--widescreen { /* (16:9) */
  padding-top: 56.25%;
}

.aspect-ratio-box--ultrawide {  /* (21:9) */
  padding-top: 42.85%;
}

.aspect-ratio-box--superwide {  /* (43:9) */
  padding-top: 20.93%;
}
/* .media END */

/* .footer START */
.footer {
  background-color: black;
  color: white;
  width: 100%;
}

.footer .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.footer__address {
  font-style: normal;
}

.footer__some {

}

.footer__some .icon-button {
  margin-left: .5rem;
  margin-right: .5rem;
}

.footer .icon-button:first-child {
  margin-left: 0;
}

.footer .icon-button:last-child {
  margin-right: 0;
}

/* .footer END */

/* .drawer START */
.drawer {
  background-color: white;
  box-shadow: 0px 8px 10px -5px rgb(0 0 0 / 20%), 0px 16px 24px 2px rgb(0 0 0 / 14%), 0px 6px 30px 5px rgb(0 0 0 / 12%);
  color: black;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

@media only screen and (min-width: 768px) {
 .drawer {
    width: 50vw;
  }
}

@media only screen and (min-width: 1920px) {
 .drawer {
    width: 33.33vw;
  }
}

.drawer__inner {
  padding: 6rem 1.6rem;
}

@media only screen and (min-width: 768px) {
 .drawer__inner {
    padding: 6rem 4rem;
  }
}

@media only screen and (min-width: 1920px) {
 .drawer__inner {
    padding: 6rem 6rem;
  }
}

.drawer__close-button {
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
}

/* .drawer END */

/* .modal START */
.modal {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
  color: black;
  margin: 0 auto;
  max-width: 90vw;
}

@media only screen and (min-width: 768px) {
 .modal {
    max-width: 80ch;
    padding: 4rem 2rem;
  }
}

.modal__inner {
  max-height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.modal__content {
  padding: 2rem;
}

@media only screen and (min-width: 768px) {
 .modal__content {
    padding: 0 2rem;
  }
}

@media only screen and (min-width: 1920px) {
 .modal__content {
    padding: 0 4rem;
  }
}

.modal__close-button {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.modal-wrap {
  background: rgba(0,0,0,.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

/* .modal END */

/* Grid START */
.grid-1-col,
.grid-2-col,
.grid-3-col,
.grid-4-col,
.grid-5-col {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
}

@media only screen and (min-width: 768px) {
  .grid-2-col {
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
  }

  .grid-3-col {
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
  }

  .grid-4-col {
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
  }

  .grid-5-col {
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
  }

}


/* Grid END */

/* .icon START */
.icon {
  align-items: center;
  color: inherit;
  display: inline-flex;
  fill: inherit;
  justify-content: center;
  z-index: 1;
}

.icon svg {
  height: 1em;
  width: 1em;
}

.icon--xs svg {
  height: 0.8rem;
  width: 0.8rem;
}

.icon--sm svg {
  height: 1rem;
  width: 1rem;
}

.icon--md svg {
  height: 1.6rem;
  width: 1.6rem;
}

.icon--lg svg {
  height: 2.4rem;
  width: 2.4rem;
}

.icon--xl svg {
  height: 3.2rem;
  width: 3.2rem;
}

/* .icon END */

/* .dropdown START */
.dropdown {
  --dropdown-content-font-size: 1.4rem;
  --dropdown-content-bg-color: white;
  --dropdown-content-color: black;
  --dropdown-content-radius: .5rem;
  --dropdown-content-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  display: inline-block;
  position: relative;
  margin: 0 auto;
}

.dropdown__button {
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 1rem 0;
}

.dropdown__button .icon {
  pointer-events: none;
}

.dropdown__button:focus {
  outline: none;
}

.dropdown__button .icon {
  transition: transform 150ms;
}

.dropdown__content {
  background-color: var(--dropdown-content-bg-color);
  border-radius: var(--dropdown-content-radius);
  box-shadow: var(--dropdown-content-box-shadow);
  color: var(--dropdown-content-color);
  font-size: var(--dropdown-content-font-size);
  overflow: hidden;
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  z-index: 2;
}

.dropdown__inner {
  max-height: 0;
  overflow: hidden;
  width: 15rem;
}

@media (hover: hover) {
  .dropdown__inner::-webkit-scrollbar { width: 3px; }
  .dropdown__inner::-webkit-scrollbar-track { background: var(--scrollbar-background-color); }
  .dropdown__inner::-webkit-scrollbar-thumb { background: var(--scrollbar-foreground-color); }
  .dropdown__inner::-webkit-scrollbar-thumb:hover { background: var(--scrollbar-foreground-color); }

  .dropdown__inner {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.dropdown__anchor {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  color: currentColor;
  display: block;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms;
}

@media (hover: hover) {
  .dropdown__anchor:hover {
    background-color: rgba(0,0,0,.05);
  }
}

.dropdown__button.dropdown--active + .dropdown__content .dropdown__inner {
  min-height: 12rem;
  margin: 0 0;
  max-height: 24rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.dropdown__button.dropdown--active .icon {
  transform: rotate(180deg);
}

/* .dropdown END */


/* ==========================================================================
   Helper classes
   ========================================================================== */
/*Flexbox*/
.flex {
  display: flex;
}

.flex-wrap {
  flex-flow: wrap;
}

.flex-justify-left {
  justify-content: flex-start;
}

.flex-justify-center {
  justify-content: center;
}

.flex-justify-right {
  justify-content: flex-end;
}

.flex-justify-space-between {
  justify-content: space-between;
}

.flex-justify-space-around {
  justify-content: space-around;
}

.flex-align-top {
  align-items: flex-start;
}

.flex-align-center {
  align-items: center;
}

.flex-align-bottom {
  justify-content: flex-end;
}

/*Spacing*/
.spacing-top--small {
  padding-top: 1.5rem;
}

@media only screen and (min-width: 1024px) {
  .spacing-top--small {
    padding-top: 3rem;
  }
}

.spacing-top--medium {
  padding-top: 3rem;
}

@media only screen and (min-width: 1024px) {
  .spacing-top--medium {
    padding-top: 6rem;
  }
}

.spacing-top--large {
  padding-top: 4.5rem;
}

@media only screen and (min-width: 1024px) {
  .spacing-top--large {
    padding-top: 9rem;
  }
}

.spacing-bottom--small {
  padding-bottom: 1.5rem;
}

@media only screen and (min-width: 1024px) {
  .spacing-bottom--small {
    padding-bottom: 3rem;
  }
}

.spacing-bottom--medium {
  padding-bottom: 3rem;
}

@media only screen and (min-width: 1024px) {
  .spacing-bottom--medium {
    padding-bottom: 6rem;
  }
}

.spacing-bottom--large {
  padding-bottom: 4.5rem;
}

@media only screen and (min-width: 1024px) {
  .spacing-bottom--large {
    padding-bottom: 9rem;
  }
}

/* Spacing utilities START */
.ml-0-5 {
  margin-left: .5rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-1-5 {
  margin-left: 1rem;
}

.mr-0-5 {
  margin-right: 0.5rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-1-5 {
  margin-right: 1.5rem;
}
/* Spacing utilities END */

/* .scrollbar START */
@media (hover: hover) {
  .scrollbar::-webkit-scrollbar { width: var(--scrollbar-width);}
  .scrollbar::-webkit-scrollbar-track { background: var(--scrollbar-background-color); }
  .scrollbar::-webkit-scrollbar-thumb { background: var(--scrollbar-foreground-color); }
  .scrollbar::-webkit-scrollbar-thumb:hover { background: var(--scrollbar-foreground-color); }

  .scrollbar > * {
    /* max-height: 20rem; */
    overflow-x: hidden;
    overflow-y: auto;
  }
}
/* .scrollbar END */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff;
    color: #000;
    /* Black prints faster */
    box-shadow: none;
    text-shadow: none;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap;
  }

  pre,
  quote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
